@import '../styles/designTokens.css';
.bottom-sheet {
  background-color: var(--color-neutral-color-gray-gray-50);
  position: relative;
  border-top-left-radius: var(--spacing-corner-radius-28px);
  border-top-right-radius: var(--spacing-corner-radius-28px);
  box-shadow: 0px -12px 20px 0px var(--color-neutral-color-dark-dark-50);
  width: 100% ;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.bottom-sheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100%;
}

.bottom-sheet-content-area {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gaps-20px);
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 396px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
}

.bottom-sheet-grab-slider {
  background-color: var(--color-neutral-color-dark-dark-100);
  height: var(--spacing-gaps-4px);
  border-radius: var(--spacing-corner-radius-100px);
  flex-shrink: 0;
  width: var(--spacing-gaps-64px);
  margin-top: var(--spacing-gaps-12px);
}

.bottom-sheet-text-section-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gaps-16px);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}

.bottom-sheet-header-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gaps-32px);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  width: 100%;
}

.bottom-sheet-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-gaps-32px);
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
}

.bottom-sheet-heading {
  flex-basis: 0;
  font-family: var(--typography-typeface-family-manrope);
  font-weight: var(--typography-typeface-weight-bold);
  flex-grow: 1;
  line-height: var(--typography-typeface-line-height-16-regular-paragraph);
  min-height: 1px;
  min-width: 1px;
  position: relative;
  flex-shrink: 0;
  color: var(--color-neutral-color-dark-dark-500);
  font-size: var(--typography-typeface-size-semi-bold-label-large);
  text-align: left;
}

.bottom-sheet-paragraph {
  font-family: var(--typography-typeface-family-manrope);
  font-weight: var(--typography-typeface-weight-regular);
  line-height: var(--typography-typeface-line-height-16-regular-paragraph);
  position: relative;
  flex-shrink: 0;
  color: var(--color-neutral-color-dark-dark-500);
  font-size: var(--typography-typeface-size-regular-paragraph-large);
  text-align: left;
  width: 100%;
}

.bottom-sheet-close-icon {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.bottom-sheet-button {
  flex-shrink: 0;
  width: 100%;
}

.bottom-sheet-button-content {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-gaps-8px);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.bottom-sheet-button-icon {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.bottom-sheet-button-label {
  font-family: var(--typography-typeface-family-manrope);
  font-weight: var(--typography-typeface-weight-bold);
  line-height: var(--typography-typeface-line-height-16-regular-paragraph);
  position: relative;
  flex-shrink: 0;
  color: var(--color-neutral-color-dark-dark-500);
  font-size: var(--typography-typeface-size-semi-bold-label-large);
  text-align: center;
  white-space: pre;
}

.bottom-sheet-text-and-button-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gaps-20px);
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  padding: 24px;
  width: 100%;
}

.bottom-sheet-heading-and-paragraph {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gaps-16px);
} 